body{
  background: #C9F9FB;
  margin: 0px;
  font-family: 'Paisley Cupcake';
  font-weight: 100;
}

a{
  text-decoration: none;
}

.slick-slide > div{
  margin: 0 10px;
}

.slick-list {
  margin: 0;
}

.slick-prev:before, .slick-next:before {
  color: #002a2c!important;
}

