.authContent {
    /* background-color: blueviolet; */
    border-radius: 10px;
    height: 60vh;
    font-size: 30px;
    margin: auto;
    width: 86%;
    border: 2px solid #babce5;
}

.authOverflow {
    overflow-y: scroll;
}

/* width */
.authOverflow::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.authOverflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.authOverflow::-webkit-scrollbar-thumb {
    background: #babce5;
    border-radius: 10px;
}

/* Handle on hover */
.authOverflow::-webkit-scrollbar-thumb:hover {
    background: #2e2f5f;
}

.authDiv {
    /* background-color: blue; */
    width: fit-content;
    margin: auto;
    padding: 15px;
}

.inputDiv {
    padding: 10px;
}

.inputDiv input {
    padding: 10px;
    width: 300px;
    border: 1px solid #babce5;
    background-color: #C9CBFB;
    border-radius: 5px;
    font-size: 16px;
}

.authDiv .btnDiv {
    text-align: center;
    padding: 20px;
}

.btnDiv button {
    padding: 5px 30px;
    width: 150px;
    font-size: 30px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Paisley Cupcake';
    font-weight: 100;
    background-color: #898BC0;
    cursor: pointer;
}

.btnDiv button:hover {
    background-color: #2e2f5f;
    color: #898BC0;
}

.authDiv .optionDiv {
    text-align: center;
    padding: 10px 20px;
}

.authDiv .optionDiv a {
    color: black;
}